#first-page{
    background-color:white;
    width:100%;
    min-height:100vh;
}

#avatar {
    position: relative;
    top:20em;
}

#avatar-img {
    width: 20vw;
    height: 20vh;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  #first-page img {
    vertical-align: middle;
    border-style: none;
    width: 50%;
  }

  #first-page h1 {
    display: inline; 
  }
 
   
  @media (max-width: 300px) {
    #first-page h1 {
    display: block;
    }
  }
  
  