/* Simple-Vertical-Navigation-Menu-v-10.css */

#ver-nav {
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center; 
  /* top:15em; */
}


ul.vertical-nav-list {
  list-style-type: none;
  padding-left: 0px;
  margin-left: 4;
  font-family: 'Montserrat';
}

div.vertical-nav {
  position: fixed;
  left: 5px;
  /* display: block; */
  /* background-color: #ffffff; */
  /* margin-right: 90%; */
  height: 100%;
  z-index: 1;
}

span.active-link {
  width: 0;
  height: 0;
  float: right;
  border-top: 10px solid transparent;
  border-right: 20px solid white;
  border-bottom: 10px solid transparent;
}

li.vnav-li {
  /* padding-top: 10px; */
  padding-left: 10px;
  /* margin-top: 10px; */
  margin-bottom: 10px;
  padding-bottom: 10px;
  /* border-top: 1px solid grey;
  border-bottom: 1px solid grey; */
  padding-right: 10px;
  border-style: none;
  font-size: 30px;
  border-style: none;
}

.vnav-link a {
  color: #2c3e50;;
  font-size: 17px;
}

/* a.active-link.vnav-link {
  color: white;
} */

/* li.vnav-li:HOVER {
  box-shadow: 1px 1px 6px;
} */

@media (max-width: 767px) {
  #ver-nav {
    display: none;
  }
}

