 label {
    font-size: .85em;
    line-height: 1.764705882em;
    position: relative;
    z-index: 0;
    top: 2em;
    display: block;
    margin: 0;
    transition: top .3s ease,opacity .3s ease;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
}